.iii {
    margin: 0;
    height: 3900px;
}

.logo {
    height: 260px;
    background-color: rgb(19, 19, 19);
}

.ikon {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 180px;
}

.glavtxt {
    text-align: center;
    color: rgb(196, 196, 196);
}

.body {
    height: 3900px;
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-top: 40px;
    background-color: rgb(105, 105, 97);
    width: 200px;
    height: 500px;
}

.nav-1 {
    background-color: black;
    margin: 15px;
    padding: 5px;
}

.nav-2 {
    background-color: black;
    margin: 15px;
    padding: 5px;
}

.nav-3 {
    background-color: black;
    margin: 15px;
    padding: 5px;
}

.nav-4 {
    background-color: black;
    margin: 15px;
    padding: 5px;
}

.nav-5 {
    background-color: black;
    padding: 5px;
    margin: 15px;
}

.nav-1-1 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.nav-2-2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.nav-3-3 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.nav-4-4 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.nav-5-5 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.glav {
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 40px;
    margin-top: 40px;
    padding-right: 190px;
    width: 900px;
    height: 3300px;
}

.vse {
    padding-bottom: 50px;
    background-color: rgb(59, 59, 59);
}

.vsee {
    color: rgb(184, 184, 184);
    font-size: 30px;
    text-align: center;
}

.musik {
    background-color: rgb(68, 68, 68);
    padding-bottom: 50px;
}

.txtmv {
    color: rgb(184, 184, 184);
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 25px;
}

.fotr {
    margin-top: 20px
}

.fotrtxt {
    background-color: rgb(78, 78, 78);
}
